<!DOCTYPE html>
<html ng-app="myApp">
	<!--ng-app define el espacio del DOM donde actuará Angular, y lo vincula con el módulo que hemos llamado "myApp" -->
	<head>
		<!--El núcleo de Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<!--        
		<script type="text/javascript">
			angular.module('myApp', ['myAppServices']);       
			function BreakinBadCharCtrl($scope, BreakinBadChar) { $scope.characters = BreakinBadChar.query(); }

			angular.module('myAppServices', ['ngResource']).
				factory('BreakinBadChar', function($resource){
					return $resource(':resourceName', {}, {
								query: {
									method:'GET', 
									params: { resourceName:'json' }, 
									isArray: true
								}
					});
				});
		</script>
-->

		<!-- Another approach -->
		<script type="text/javascript">
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope, $http) {
			    $scope.cargar = function($html) {
					$http.get("/json")
					.then( 
						function mySucces(response) {
							$scope.characters = response.data;
						}, 
						function myError(response) {
							$scope.characters = response.statusText;
						}
					);
    			};
			});
		</script>

		<style type="text/css">
			table, th, td {
    			border: 1px solid black;
    			border-collapse: collapse;
    			padding: 5px;
			}
		</style>

		<!--Esta extensión nos ayudará a manejar de forma sencilla las llamadas al API -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
	</head>
	<body ng-controller="myCtrl">
		<table id="" style="width:100%">
			<!-- ng-controller define qué controlador se encargará de manejar la tabla-->
			<thead>
				<tr>
					<td><strong>Nombre</strong></td>
					<td><strong>Apellido</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="character in characters">
					<!-- ng-repeat function como un "for" iterando la variable characters hidratada en el controlador -->
					<!-- Muestra los datos del registro -->
					<td>{{character.name}}</td>
					<td>{{character.surname}}</td>
				</tr>
			</tbody>
		</table>

		<br><br><button ng-click="cargar()">Llenar tabla dinamicamente</button>
	</body>
</html>