<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.3.2/bootstrap-slider.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>

    <script src="http://threejs.org/build/three.min.js"></script>
    <script src="http://threejs.org/examples/js/loaders/OBJLoader.js"></script>
    <script src="http://threejs.org/examples/js/Detector.js"></script>
    <script src="http://threejs.org/examples/js/controls/OrbitControls.js"</script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    
    <script src="/javascripts/moduleApp.js"></script> 
    <script src="/javascripts/directiveRender.js"></script>        
    <script src="/javascripts/controllersApp.js"></script>
    <script src="/javascripts/servicesApp.js"></script> 

    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">

  </head>
  <body ng-app="appDecimation" ng-controller="principalCtrl">

  	<div class="page-header">
      <h1>DECIMACION DE OBJETOS 3D</h1>
    </div>

    <div class="container-fluid">
    <a class="btn btn-primary" href="/login" role="button">Salir</a>
      <div class="col-md-3">

        <div class="panel">
          <div class="panel-heading">Lista de Archivos OBJ</a></div>
            <div class="panel-body">
              <div class="list-group" data-size="5">
                <a ng-repeat="x in objs" ng-href="#" class="list-group-item">
                  <div>{{x._originalname}}</div>
                </a>
              </div>
            </div>
        </div>
    	</div>
    	
    
      <div class="col-md-6 col-md-offset-2">
    		<form  class="form-inline" method="POST" enctype="multipart/form-data" name="fileinfo" ng-submit="sendFile()">
  				<div class="form-group">
  						<input type="file" name="obj" id="obj" ng-model="obj" onchange="angular.element(this).scope().renderFile(this.files)">
  				</div>
  				<button type="submit" class="btn btn-primary">Cargar Archivo</button>
  			</form>
  			<p>{{msg}}</p>
  	  </div>


  	<div class="col-md-6 col-md-offset-2">
  		<input type="number" name="porcentaje" id="porcentaje" ng-model="porcentaje" min="1" max="100">
		<button id="decimar" ng-click="decimar()" class="btn btn-primary">Decimar</button> 
  	</div>
  	<div class="container" render-obj-dir></div>

    </div> <!-- END container-fluid -->



  </body>
</html